DJANGO_SECRET_KEY=change-me-to-a-real-secret-key
DJANGO_ALLOWED_HOSTS=viktorija.vincegomez.com,localhost
CSRF_TRUSTED_ORIGINS=https://viktorija.vincegomez.com
DATABASE_URL=postgres://viktorijacoaching:changeme@db:5432/viktorijacoaching
POSTGRES_USER=viktorijacoaching
POSTGRES_PASSWORD=changeme
DJANGO_SETTINGS_MODULE=viktorijacoaching.settings.production
WAGTAILADMIN_BASE_URL=https://viktorija.vincegomez.com
